<section class="product-detail">
    <div class="productDetailMain">
      <h1>Blogs</h1>
      <div class="aboutProductMain">
        <div class="col-md-6 aboutProductimgDiv">
          <img
            class="productDetailMainimg"
            src="../../assets/images/jainMaharaj.webp"
            alt="hero-image"
          />
        </div>
        <div class="col-md-6 aboutProducttextDiv">
            <h2>Virgo natives</h2>
         <p> Virgo natives are very intelligent and courageous due to the
          ruling planet being Mercury. The zodiac of the planet Mercury is
          emerald, so the people of Virgo zodiac can get its benefits by
          wearing the gemstone emerald of Mercury. Mercury is a wish
          fulfilling planet. Emerald gemstone ring gives strength and
          energy.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="aboutProductInfoSection">
    <div class="aboutProductInfoSectionMain">
      <h3>Benefits of Emerald Stone Ring</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tenetur
        placeat accusantium vel maiores quis, molestias aspernatur
        temporibus nam perspiciatis rem illum, exercitationem aliquam
        eveniet ullam veritatis explicabo optio quasi debitis impedit, dicta
        animi accusamus eius vero. Quasi eum dicta quaerat voluptatum
        possimus reprehenderit earum nam quibusdam, labore est harum ducimus
        excepturi ex ratione expedita eos quos dolorem repellendus
        dignissimos. Debitis ipsum molestiae provident possimus fuga!
        Provident, laudantium dolore? Hic.
      </p>
    </div>
    <div class="aboutProductInfoSectionMain">
      <h3>Benefits of Emerald Stone Ring</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tenetur
        placeat accusantium vel maiores quis, molestias aspernatur
        temporibus nam perspiciatis rem illum, exercitationem aliquam
        eveniet ullam veritatis explicabo optio quasi debitis impedit, dicta
        animi accusamus eius vero. Quasi eum dicta quaerat voluptatum
        possimus reprehenderit earum nam quibusdam, labore est harum ducimus
        excepturi ex ratione expedita eos quos dolorem repellendus
        dignissimos. Debitis ipsum molestiae provident possimus fuga!
        Provident, laudantium dolore? Hic.
      </p>
    </div>
    <div class="aboutProductInfoSectionMain">
      <h3>Benefits of Emerald Stone Ring</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tenetur
        placeat accusantium vel maiores quis, molestias aspernatur
        temporibus nam perspiciatis rem illum, exercitationem aliquam
        eveniet ullam veritatis explicabo optio quasi debitis impedit, dicta
        animi accusamus eius vero. Quasi eum dicta quaerat voluptatum
        possimus reprehenderit earum nam quibusdam, labore est harum ducimus
        excepturi ex ratione expedita eos quos dolorem repellendus
        dignissimos. Debitis ipsum molestiae provident possimus fuga!
        Provident, laudantium dolore? Hic.
      </p>
    </div>
     
  </section>