<!-- contact section -->
<section class="contact_section layout_padding" id="contactLink">
  <div class="container">
    <div class="heading_container">
      <h2>
        Get In touch
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <form (ngSubmit)="onsubmit(myform)" #myform="ngForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" name="name" ngModel id="inputName4" placeholder="Name ">
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" ngModel id="inputEmail4" placeholder="Email id">
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col">
              <input type="number" class="form-control" name="Number" ngModel id="inputSubject4" placeholder="Number">
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="message" ngModel id="inputMessage" placeholder="Message">
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<!-- end contact section -->
