
  <!-- about section -->

  <section class="firstSectionHome">
    <div class="aboutAndHistoryMain">
      <div class="mahaveerSwamiImgMain">
  
        <img class="mahaveerSwamiImg" src="../../assets/images/Mahavir-Swami-Wallpaper-HD-Quality.jpg" alt="">
      </div>
      <div class="mahaveerSwamiImgText">
        <h4>JAIN TEMPLE</h4>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet odio quam quasi dolorum error reiciendis repudiandae aspernatur officia odit voluptate velit, ratione quisquam.
        </p>
      </div>
    </div>
    <hr>
    <div class="templeHistory">
          <h4>History of temple</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem maxime at dolorem enim provident autem deleniti, soluta dignissimos doloribus fugiat vel omnis quos. Placeat, odio! Sint adipisci rerum, eligendi saepe corporis quam est, libero nulla aperiam blanditiis ducimus illo esse.</p>
    </div>
  </section>

  <!-- end about section -->




