
  <!-- about section -->

  <section class="firstSectionHome">
    <h4>Gallery</h4>

    <div class="photo-gallery">
        <div class="photo" *ngFor="let photo of photos">
          <img [src]="photo.url" alt="{{ photo.title }}" />
        </div>
      </div>
  </section>
  <hr>
  <section class="firstSectionHome">
    <h4>Newsletter</h4>

    <div class="photo-gallery">
        <div class="photo" *ngFor="let photo of photos">
          <img [src]="photo.url" alt="{{ photo.title }}" />
        </div>
      </div>
  </section>

  <!-- end gellery section -->




