<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <!-- <a class="navbar-brand" href="index.html"  *ngFor="let ele of companyDetails">
        <span>
          <img [src]="ele.photo" width="100px" height="50px">
        </span>
      </a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="s-1"> </span>
        <span class="s-2"> </span>
        <span class="s-3"> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
          <ul class="navbar-nav  ">
            <li class="nav-item " routerLinkActive="active" routerLink="home">
              <a class="nav-link"  routerLink="home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="about">
              <a class="nav-link" routerLink="about">About Us</a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="gallery">
              <a class="nav-link" routerLink="gallery"> Gallery</a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="bhajan">
              <a class="nav-link" routerLink="bhajan"> Jain Bhajan</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="services"> Services </a>
            </li> -->
            <li class="nav-item" routerLinkActive="active" routerLink="contact">
              <a class="nav-link" routerLink="contact">Contact Us</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="team">Team</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="products">Products</a>
            </li> -->
            <li class="nav-item"  routerLinkActive="active" routerLink="blogs">
              <a class="nav-link" routerLink="blogs">Blogs</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="careers">Careers</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="news">News</a>
            </li> -->
          </ul>
        </div>
    
      </div>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
<app-footer></app-footer>
