
  <section class="dish_section layout_padding">
    <div class="container">
      <div class="row ">
        <div class="col-md-12 m-3 d-flex flex-row">
          <div class="card m-3" style="width: 18rem;" *ngFor="let ele of productvar">
            <img [src]="ele.photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>{{ele.productName}}</b></h5>
              <p class="card-text">{{ele.productDiscription}}</p>
              <p class="card-text"><b>Rs.{{ele.productPrice}}</b></p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <hr>
              <h2>
                Our <br>
                Food <br>
                dishs
              </h2>
            </div>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in
              some form, by injected humour, or randomised words
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </section>


  <section class="hot_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          What's Hot
        </h2>
        <hr>
      </div>
      <p>
        There are many variations of passages of Lorem Ipsum available, but the majority
      </p>
    </div>
    <div class="carousel_container">
      <div class="container">
        <div class="carousel-wrap ">
          <div class="owl-carousel">
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="../../assets/images/coff.png" />
                </div>
                <div class="detail-box">
                  <h4>
                    $35
                  </h4>
                  <p>
                    There are many variations of passages of Lorem Ipsum available,
                  </p>
                  <a href="">
                    Order Now
                  </a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="../../assets/images/coff.png" />
                </div>
                <div class="detail-box">
                  <h4>
                    $30
                  </h4>
                  <p>
                    There are many variations of passages of Lorem Ipsum available,
                  </p>
                  <a href="">
                    Order Now
                  </a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="../../assets/images/coff.png" />
                </div>
                <div class="detail-box">
                  <h4>
                    $40
                  </h4>
                  <p>
                    There are many variations of passages of Lorem Ipsum available,
                  </p>
                  <a href="">
                    Order Now
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="subscribe_section">
    <div class="container">
     <app-newsletter></app-newsletter>
    </div>
  </section>


