<section class="layout_padding">
  <div class="blog ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage text_align_center">
            <h2>Our <span class="blue whitebg">blogs</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 " >
          <div class="blog-box">
            <figure>
              <img src="../../assets/images/jainMaharaj.webp" width="500" height="400" alt="#" />
            </figure>
            <div class="blog_text">
              <h3>head</h3>
              <div class="date">
                <p>date</p>
              </div>
            
              <p>desc.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 " >
          <div class="blog-box">
            <figure>
              <img src="../../assets/images/jainMaharaj.webp" width="500" height="400" alt="#" />
            </figure>
            <div class="blog_text">
              <h3>head</h3>
              <div class="date">
                <p>date</p>
              </div>
            
              <p>desc.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
