<body id="homesection">

  <div class="aboutAndHistory">
<section class="firstSectionHome">
  <div class="aboutAndHistoryMain">
    <div class="mahaveerSwamiImgMain">

      <img class="mahaveerSwamiImg" src="../../assets/images/Mahavir-Swami-Wallpaper-HD-Quality.jpg" alt="">
    </div>
    <div class="mahaveerSwamiImgText">
      <h4>JAIN TEMPLE</h4>
      <!-- <h4>{{homeData.title}}</h4> -->
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet odio quam quasi dolorum error reiciendis repudiandae aspernatur officia odit voluptate velit, ratione quisquam.
      </p>
    </div>
  </div>
  <hr>
  <div class="templeHistory">
        <h4>History of temple</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem maxime at dolorem enim provident autem deleniti, soluta dignissimos doloribus fugiat vel omnis quos. Placeat, odio! Sint adipisci rerum, eligendi saepe corporis quam est, libero nulla aperiam blanditiis ducimus illo esse.</p>
  </div>
</section>
<hr>
<section class="videosSectionHome">
  <h4>Bhajan</h4>
  <div class="youtubeVideosMain">
    <div class="JainVideoMain">
      <iframe class="youtubeVideos" width="560" height="315" src="https://www.youtube.com/embed/TGJ5ZOmMJVI" frameborder="0" allowfullscreen></iframe>
      <iframe class="youtubeVideos" width="560" height="315" src="https://www.youtube.com/embed/TGJ5ZOmMJVI" frameborder="0" allowfullscreen></iframe>
      <script type="text/javascript" src="https://panchang.click/panchangwidgetjs?rid=a4a392a23a8fece14c165af7183fafbb"></script>
<div id="panchangwidgetid"></div>
      
    </div>
    <hr>

    <div>
      <h4>Live</h4>
      <div class="JainVideoMain">
        <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fjeevchatora%2Fvideos%2F690027455891847%2F&show_text=false&width=382&t=0" width="382" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
      <iframe class="youtubeVideos" width="560" height="315" src="https://www.youtube.com/embed/19C2P6VBhjg" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  </div>
</section>
<hr>
<section class="bankDetailSectionHome">
  <h4>Donation</h4>
  <div class="donationMain">
    <div class="detail">
      <div class="QrImage">

        <img src="../../assets/images/Bharat-QR-code.png" alt="">
      </div>
      <div class="bankText">
        <p>ऑनलाइन बैंकिंग के
          मध्यम से
          सेवा करने के लिए बैंक खाते का विवरण</p>
          <p>A/C no. : 07893267123768</p>
          <p>IFSC code : HDFC90676</p>
        </div>
        <div class="QrImage">
          <img src="../../assets/images/Bharat-QR-code.png" alt="">
        </div>
    </div>
  </div>
</section>
<hr>

<section class="eventAartiDetailSectionHome">
  <h4>Events and aarti detail</h4>
  <div class="eventAartiMain">
    <div class="detail">
      <div class="eventAartiImage">

        <img src="../../assets/images/Screenshot 2023-09-07 163132.png" alt="">
        <img src="../../assets/images/Screenshot 2023-09-07 163132.png" alt="">
      </div>
     
       
    </div>
  </div>
</section>
<hr>
<section class="newsSectionHome">
  <h4>News article</h4>
  <div class="newsMain">
    <div class="detail">
      <div class="newsImage">

        <img src="../../assets/images/Screenshot 2023-09-07 163132.png" alt="">
        <img src="../../assets/images/Screenshot 2023-09-07 163132.png" alt="">
      </div>
     
       
    </div>
  </div>
</section>
<hr>
<section class="maharajDetailSectionHome">
  <h4>Maharaj ji</h4>
  <div class="maharajMain">
    <div class="detail">
      <div class="maharajImage">

        <img src="../../assets/images/jainMaharaj.webp" alt="">
      </div>
      <div class="maharajText">
       <h4>
        jai maharaj
       </h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptatem, quo rerum nobis impedit qui tempore pariatur ex, eaque omnis, culpa voluptates quia.</p>
        </div>
       
    </div>
  </div>
</section>
   
  </div>


</body>
